body {
  background: url(../imgs/background1.png);
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  font-family: "Quicksand";
  overflow: hidden;
}

#background {
  z-index: -1;
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0px;
  top: 0px;

  background: #c4c4c4;
  opacity: 0.7;
}

#header {
  position: absolute;
  width: 86.563vw;
  height: 10.915vh;
  left: 6.563vw;
  top: 13.028vh;

  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 14vw;
  text-align: center;

  color: #080705;

  text-shadow: 2vw 2vw 3vh rgba(0, 0, 0, 0.25);
}

#p1 {
  position: absolute;
  width: 94.063vw;
  height: 4.577vh;
  left: 2.813vw;
  top: 28.345vh;

  font-family: Quicksand;
  font-style: normal;
  font-weight: 3vw;
  font-size: 3vh;
  line-height: 4vh;

  text-align: center;
  text-transform: capitalize;

  color: #080705;

  text-shadow: 2vw 2vw 3vh rgba(0, 0, 0, 0.25);
}

#reset-email {
  position: absolute;
  width: 93.438vw;
  height: 5.986vh;
  left: 2.813vw;
  top: 53.697vh;

  color: #080705;
  font-size: xx-large;
  line-height: 37px;

  background: rgba(196, 196, 196, 0.8);
  opacity: 0.8;
  border-radius: 0.88vh;
}

#button-body {
  position: absolute;
  width: 100.0vw;
  height: 23.944vh;
  left: 0px;
  top: 82.57vh;
  background: linear-gradient(0deg, #242423, #242423);
  border-color: #242423;
  box-shadow: 2vw 2vw 3vh rgba(0, 0, 0, 0.25),
    inset 2vw 2vw 3vh rgba(0, 0, 0, 0.25);
  border-radius: 3.521vh;
}

#button-text{ 
  position: absolute;
  top: 3vh;
  left: 4.5vh;

  color: #ffffff;
  text-shadow: 2vw 2vw 3vh rgba(0, 0, 0, 0.25);
  font-size: 9vh;
  font-family: "Quicksand";
}